---
const { keyCap } = Astro.props;
---

<li class='keycap-list-item'>
  <a href={`/keycap/${keyCap.id}`} class='keycap-list-link'>
    <p>{keyCap.data.title}</p>
    <div class='keycap-color-container'>
      {
        keyCap.data.colors.map((color, index) => {
          if (index > 2) {
            return;
          }
          return (
            <div
              class='mini-color-block'
              style={`background-color:${color.color.hex}`}
            />
          );
        })
      }
    </div>
  </a>
</li>
<style>
  .keycap-list-item {
    color: var(--primary-text);
  }

  .keycap-list-link {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .keycap-color-container {
    display: flex;
  }

  .mini-color-block {
    height: 20px;
    width: 20px;
  }

  li > p:hover {
    color: var(--hover-link-text);
  }
</style>
