/* CUSTOM STYLES */
html {
    font-family: system-ui, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
    height: 100vh;
    width: 1024px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* TEXT */
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-small {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-large {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-normal {
    font-weight: normal;
}

.text-bold {
    font-weight: bold;
}

.word-break {
    word-break: break-all;
}

.padding-bottom-1 {
    padding-bottom: 1rem;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

/* DARK THEME */
body.dark {
    background-color: #0d0950;
    color: #fff;
}

.dark .nav-links a {
    color: #fff;
}


@keyframes skeleton-loading {
    0% {
        background-color: rgb(167, 167, 167);
    }

    100% {
        background-color: rgb(43, 42, 42);
    }
}

@media (min-width: 640px) {}

@media (min-width: 768px) {
    /* .text-normal {
        font-size: 0.9375rem;
        line-height: 1.5rem;
    } */
}