/* CUSTOM STYLES */
:root {
    --black: #121212;
    --dark-grey: #212121;
    --grey: #535353;
    --light-grey: #b3b3b3;
    --lightest-grey: #f4f4f4;

    /*MAIN COLOR*/
    --primary-text: var(--black);
    --secondary-text: white;
    --tertiary-text: var(--grey);
    --primary-background: var(--black);
    --secondary-background: white;
    --banner-background: var(--black);
    --banner-label: var(--grey);
    --card-background: var(--lightest-grey);

    /*BUTTON COLOR*/
    --primary-button-background: var(--black);
    --secondary-button-background: white;
    --primary-button-text: var(--black);
    --secondary-button-text: white;
    --primary-button-border: var(--black);
    --secondary-button-border: white;
    --primary-button-hover: var(--light-grey);

    /*OTHER COLOR*/
    --grey-line: var(--light-grey);
    --hover-link-text: blue;

    /*TABLE COLOR*/
    --table-border: var(--light-grey);
    --table-even-row: var(--lightest-grey);

    /*CAROUSEL*/
    --carousel-background: var(--light-grey);
    --carousel-active: var(--dark-grey);
}

html {
    font-family: system-ui, sans-serif;
}

.dark {
    --primary-text: white;
    --secondary-text: white;
    --tertiary-text: var(--light-grey);
    --primary-background: white;
    --secondary-background: var(--black);
    --banner-background: var(--dark-grey);
    --banner-label: var(--light-grey);
    --card-background: var(--dark-grey);

    /*BUTTON COLOR*/
    --primary-button-background: white;
    --secondary-button-background: var(--black);
    --primary-button-text: white;
    --secondary-button-text: var(--black);
    --primary-button-border: var(--light-grey);
    --secondary-button-border: var(--black);
    --primary-button-hover: var(--lightest-grey);

    /*OTHER COLOR*/
    --hover-link-text: rgb(93, 187, 255);

    /*TABLE COLOR*/
    --table-border: var(--light-grey);
    --table-even-row: var(--grey);
    /*CAROUSEL*/
    --carousel-active: white;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
    width: 1024px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
    background-color: var(--secondary-background);
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* TEXT */
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-small {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-large {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-normal {
    font-weight: normal;
}

.text-bold {
    font-weight: bold;
}

.word-break {
    word-break: break-all;
}

.padding-bottom-1 {
    padding-bottom: 1rem;
}

/* BUTTONS */
.primary-button {
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    color: var(--primary-button-text);
    border: 1px solid var(--primary-button-border);
    outline: none;
    background-color: var(--secondary-button-background);
    transition: background-color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    cursor: pointer;
}

.primary-button:hover {
    color: var(--secondary-button-text);
    background-color: var(--primary-button-hover);
}

.secondary-button {
    background-color: var(--primary-button-background);
    color: var(--secondary-button-text);
    border: 1px solid var(--secondary-button-border);
    transition: background-color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    cursor: pointer;
}

.secondary-button:hover {
    color: var(--primary-button-text);
    background-color: var(--secondary-button-background);
}

/* SKELETON */
.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}


@keyframes skeleton-loading {
    0% {
        background-color: rgb(167, 167, 167);
    }

    100% {
        background-color: rgb(43, 42, 42);
    }
}

@media (min-width: 640px) {}

@media (min-width: 768px) {
    /* .text-normal {
        font-size: 0.9375rem;
        line-height: 1.5rem;
    } */
}