.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
}

.carousel-slide-container {
    position: relative;
}

.carousel-slide {
    display: flex;
    border-radius: 0.5rem;
    transition: transform 0.3s ease-in-out;

}

.carousel-image {
    width: initial;
    width: 100%;
    border-radius: 0.5rem;
}

.mini-thumbnail-container {
    display: none !important;
}

.mini-thumbnail {
    border-radius: 0.3rem;
    border: 2px solid white;
    width: 115px;
    cursor: pointer;
}

.mini-thumbnail.active {
    outline: 1px solid black;
}

.carousel-arrow {
    display: flex;
    position: absolute;
    transform: translate(0, -50%);
    background-color: rgba(173, 173, 173, 0.50);
    color: white;
    padding: 8px;
    cursor: pointer;
}

.carousel-arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease-in-out;
}

.left-arrow {
    top: 50%;
    left: 0;
    border-radius: 0px 5px 5px 0px;
}

.right-arrow {
    top: 50%;
    right: 0;
    border-radius: 5px 0px 0px 5px;
}

.carousel-dots-container {
    display: flex;
    justify-content: center;

    gap: 0.5rem;
    margin-top: 0.5rem;
}

.carousel-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #9d9d9d;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-dot.active {
    background-color: #333;
}


@media (min-width: 500px) {
    .carousel-container {
        max-width: 450px;
    }

    .carousel-image {
        min-width: 450px;
    }
}

@media (min-width: 768px) {
    .mini-thumbnail-container {
        display: flex !important;
        margin-left: 0.1rem;
        margin-top: 0.2rem;
        gap: 0.4rem;
        flex-wrap: wrap;
    }

    .carousel-dots-container {
        display: none;
    }
}

@media (min-width: 919px) {
    .carousel-container {
        max-width: 440px;
    }

    .carousel-image {
        min-width: 440px;
    }

}

@media (min-width: 920px) {
    .carousel-container {
        max-width: 500px;
    }

    .carousel-image {
        min-width: 500px;
    }


}