---
import Layout from "../layouts/Layout.astro";
import ListLink from "../components/list/ListLink.astro";
import { getCollection } from "astro:content";
const gmkKeycaps = await getCollection("gmk");

const sortedData = [...gmkKeycaps].sort((a, b) =>
  a.data.title > b.data.title ? 1 : -1
);

const keyCapHeaderSet = new Set(
  sortedData.map((item) => {
    return item.data.title.charAt(0);
  })
);
---

<Layout title="Keycap">
  <main class="main-container">
    <h2 class="text-2xl padding-bottom-1">GMK Keycaps</h2>
    <ul class="keycap-list">
      {
        Array.from(keyCapHeaderSet).map((item) => {
          return (
            <li class="padding-bottom-1">
              <h3 class="text-2xl text-normal">{item}</h3>
              <ul class="keycap-inner-list text-base">
                {sortedData.map((keyCap) => {
                  if (keyCap.data.title.charAt(0) === item) {
                    return <ListLink keyCap={keyCap} />;
                  }
                })}
              </ul>
            </li>
          );
        })
      }
    </ul>
  </main>
</Layout>

<style>
  .keycap-list {
    display: inline-flex;
    flex-direction: column;
  }
  .keycap-inner-list {
    display: inline-flex;
    flex-direction: column;
  }
</style>
