---
import Layout from "../layouts/Layout.astro";

import Banner from "../components/home/Banner.astro";
import CardRow from "../components/home/CardRow.astro";
import { getCollection } from "astro:content";

const gmkKeycaps = await getCollection("gmk");

const featuredData = gmkKeycaps.filter((item) => {
  return item.data.featured === true;
});

const bannerData = gmkKeycaps.filter((item) => {
  return item.data.banner === true;
});

const latestData = [...gmkKeycaps]
  .sort((a, b) => {
    return new Date(b.data.dates.shipped) - new Date(a.data.dates.shipped);
  })
  .slice(0, 3);
---

<Layout title="Keycap Demo">
  <main class="main-container">
    <Banner bannerData={bannerData[0]} />
    <CardRow cardData={featuredData} title="Featured" />
    <CardRow cardData={latestData} title="Latest" />
  </main>
</Layout>
