---
const { colors } = Astro.props;
---

<div class="color-block-row-container">
  {
    colors.map((item) => {
      return (
        <div class="color-card">
          <div
            class="color-block"
            style={`background-color:${item.color.hex}`}
          />
          <div class="color-card-info">
            <div class="text-base text-bold">{item.color.code}</div>
            <div class="text-small">{item.color.hex}</div>
            <div class="text-small text-bold">{item.name}</div>
          </div>
        </div>
      );
    })
  }
</div>

<style>
  .color-block-row-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .color-card {
    border: 1px solid black;
    width: 100px;
  }
  .color-block {
    border-bottom: 1px solid black;

    height: 100px;
  }
  .color-card-info {
    padding: 5px 10px 5px 10px;
  }

  @media (min-width: 768px) {
    .color-block-row-container {
      gap: 2rem;
    }

    .color-card {
      width: 125px;
    }
    .color-block {
      height: 125px;
    }
  }
</style>
