/* HEADER */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.header-left {
    display: flex;
    gap: 1rem;
}

.header-link {
    color: var(--primary-text);
}

.header-link:hover {
    color: var(--hover-link-text);
}

.grey-line {
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 1px var(--grey-line) solid;
}

/* SEARCH */
.search-bar-container {
    position: relative;
}

.search-bar {
    display: none;
    align-items: center;

    box-sizing: border-box;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: var(--secondary-background);
    border: 1px var(--light-grey) solid;
}

.search-input {
    border: none;
    outline: none;
    width: 100%;
    background-color: var(--secondary-background);
}

.search-results {
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    z-index: 99;
    width: 100%;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--secondary-background);
    border: 1px var(--light-grey) solid;
}

.search-result-string {
    word-wrap: break-word;
}

.search-result-list {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.search-result-link {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.search-result-link:hover {
    width: 100%;
    background-color: var(--lightest-grey);
}

.search-result-string {
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--grey);
}

.search-keycap-color-container {
    display: flex;
}

.mini-color-block {
    height: 20px;
    width: 20px;
}

/* SEARCH MOBILE ONLY */
.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: var(--secondary-background);
}

.search-button-close {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: var(--secondary-background);
}

.search-bar.expanded,
.search-results.expanded {
    display: flex;
}

.header-right.expanded {
    width: 100%;
}

@media (min-width: 640px) {
    .search-bar-container {
        width: 300px;
    }

    .search-bar,
    .search-results {
        display: flex;
    }

    .search-button,
    .search-button-close {
        display: none;
    }
}