---
// import ThemeButtons from "./ThemeButtons.jsx";
---

<footer class='footer'>
  <div class='grey-line'></div>
  <div class='footer-main-container text-base'>
    <div class='footer-left-side'>
      <div>
        Source Code: <a
          href='https://github.com/aladores/keycap-demo'
          target='_blank'
          class='footer-link'>Github</a
        >
      </div>

      <div>
        Inspired by: <a
          href='https://matrixzj.github.io/'
          '
          target='_blank'
          class='footer-link'>Keycaps Info</a
        >

         and
        <a
          href='https://keycaplendar.firebaseapp.com/'
          target='_blank'
          class='footer-link'>Keycaplendar</a
        >
      </div>
    </div>
    <div>
      Svgs: <a
        href='https://iconmonstr.com/'
        target='_blank'
        class='footer-link'>iconmonstr.com</a
      >
    </div>
  </div>
</footer>

<style>
  .footer-main-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
  }

  .footer-left-side {
    display: flex;
    flex-direction: column;
  }
  .footer-link {
    text-decoration: underline;
  }
</style>
