---
// import ThemeButtons from "./ThemeButtons.jsx";
---

<footer class='footer'>
  <div class='grey-line'></div>
  <div class='footer-main-container text-base'>
    <div>
      Source Code: <a
        href='https://github.com/aladores/keycap-demo'
        target='_blank'
        class='footer-link'>github</a
      >
    </div>
    <div>
      Svgs: <a
        href='https://iconmonstr.com/'
        target='_blank'
        class='footer-link'>iconmonstr.com</a
      >
    </div>
  </div>
</footer>

<style>
  .footer-main-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
  }

  .footer-link {
    text-decoration: underline;
  }
  .grey-line {
    width: 100%;
    border-bottom: 1px var(--grey-line) solid;
  }
</style>
