---
// import ThemeButtons from "./ThemeButtons.jsx";
---

<footer class="footer">
  <div class="grey-line"></div>
</footer>

<style>
  .footer {
    min-height: 2.5rem;
  }
  .grey-line {
    width: 100%;
    border-bottom: 1px rgb(225, 225, 225) solid;
  }
</style>
