---

---

<header>
  <a href="/" style="display: inline-block;"
    ><h1 class="text-2xl header-title">Keycap Demo</h1></a
  >
  <div class="grey-line"></div>
</header>

<style>
  header {
    padding-bottom: 1rem;
  }
  .header-title {
    max-width: 100%;
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  .grey-line {
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 1px rgb(225, 225, 225) solid;
  }
</style>
