---

---

<header>
  <h1 class="header-title">Keycap Demo</h1>
  <div class="grey-line"></div>
</header>

<style>
  header {
    padding-bottom: 2rem;
  }
  .header-title {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  .grey-line {
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 1px rgb(225, 225, 225) solid;
  }
</style>
